{% extends 'layout/base.html' %} {% block content %} {% load static %}
<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Shopping Cart</h5>
          </div>
          <div class="card-body">
            {% if products %}
              {% for cart in products%}
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                <div
                  class="bg-image hover-overlay hover-zoom ripple rounded"
                  data-mdb-ripple-color="light"
                >
                <img  class="card-img"src="{% static cart.product.image %}" class="a"> &nbsp;
                  <a href="#!">
                    <div
                      class="mask"
                      style="background-color: rgba(251, 251, 251, 0.2)"
                    ></div>
                  </a>
                </div>
              </div>
            
              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                
                <h4> {{cart.product.name}}</h4>
                <form action="/order/deletefromcart/{{cart.id}}" method="post">
                  {% csrf_token %}

                <button
                type="submit"
                id="button"
                name="{{cart.product.name}}"
                class="btn btn-outline-danger btn-sm me-1 mb-2"
                data-mdb-toggle="tooltip"
                title="Remove item"
              >
                <i class="fas fa-trash"></i>
              </button>
                </form>
               
                </form>
                <!-- Data -->
              </div>
              
              <div class="col-lg-4 col-md-6 mb-1 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">    
                  <div class="form-outline">
                    <form action="/order/lessfromcart/{{cart.id}}" method="post">
                      {% csrf_token %}
                      <input
                        id="form1"
                        min="1"
                        name="quantity"
                        value="{{cart.quantity}}"
                        type="number"
                        class="form-control"
                        placeholder="Quantity"
                        max="{{product.amount}}"
                      />
                      <button type="submit" class="btn btn-outline-danger px-3 me-2">
                        <i class="fas fa-minus"></i>
                      </button>
                    </form>
                    <form action="/order/upgradefromcart/{{cart.id}}" method="post">
                      {% csrf_token %}
                      <input
                        type="hidden"
                        id="form2"
                        min="1"
                        name="quantity"
                        value="{{cart.quantity}}"
                        class="form-control"
                        placeholder="Quantity"
                        max="{{product.amount}}"
                      />
                      <button type="submit" class="btn btn-outline-danger px-3 ms-2">
                        <i class="fas fa-plus"></i>
                      </button>
                    </form>
                  
                  </div>
                   
                </div>
                
              </form>
                <!-- Quantity -->

                <!-- Price -->
                <p class="text-start text-md-right">
                  
            <strong> {{cart.amount}} TL</strong>
                </p>
                <!-- Price -->
              </div>
            </div>
            
           {% endfor %}
        {% else %}
            <div class="alert alert-warning">
            <p>
                Ürün Bulunmadı
            </p>
        </div>
        {% endif %}
            <!-- Single item -->

            <hr class="my-4" />

            <!-- Single item -->
            <!-- Single item -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          
          
            <div class="d-flex justify-content-between">
              <p class="mb-2">Ürün Toplam Fiyatı</p>
              <p class="mb-2">{% if total %}
                {{total}} TL
                 {% endif %}</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2">Shipping</p>
              <p class="mb-2">0.00 TL</p>
            </div>

            <div class="d-flex justify-content-between mb-4">
              <p class="mb-2">Toplam</p>
              <p class="mb-2">{% if total %}
                {{total}} TL 
                 {% endif %}</p>
            </div>

            <button type="button" class="btn btn-info btn-block btn-lg" id="siparisonay">
              <div class="d-flex justify-content-between">
                <span>{% if total %}
                  {{total}} TL 
                   {% endif %}</span>
                <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2" onclick=""></i></span>
              </div>
            </button>

            <script>
	
 
              var btnSelam=document.getElementById("siparisonay");
                btnSelam.onclick=function(){
                  window.alert("Siparişiniz Alındı.");
                }
              </script>
          </div>
        </div>

      </div>
      
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
