{% extends 'layout/base.html' %} {% block content %} {% load static %}
<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Shopping Cart</h5>
          </div>
          <div class="card-body">
            {% if products %}
              {% for cart in products%}
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">

                <div
                  class="bg-image hover-overlay hover-zoom ripple rounded"
                  data-mdb-ripple-color="light"
                >
                <img  class="card-img"src="{% static cart.product.image %}" class="a"> &nbsp;
                  <a href="#!">
                    <div
                      class="mask"
                      style="background-color: rgba(251, 251, 251, 0.2)"
                    ></div>
                  </a>
                </div>
              </div>
            
              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                
                <h4> {{cart.product.name}}</h4>
                <form action="/order/deletefromcart/{{cart.id}}" method="post">
                  {% csrf_token %}
                  
                <button
                type="submit"
                id="button"
                name="{{cart.product.name}}"
                class="btn btn-outline-danger btn-sm me-1 mb-2"
                data-mdb-toggle="tooltip"
                title="Remove item"
              >
                <i class="fas fa-trash"></i>
              </button>
                </form>
               
                </form>
                <!-- Data -->
              </div>
              
              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                
                <div class="d-flex mb-4" style="max-width: 300px">
                  
                  <form action="/order/lessfromcart/{{cart.id}}" method="post">
                    {% csrf_token %}
                  <button
                  type="submit"
                    class="btn btn-outline-danger px-3 me-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </form>

                  <div class="form-outline">
                    <form action="/order/upgradefromcart/{{cart.id}}" method="post">
                      {% csrf_token %}
                    <input
                      id="form1"
                      min="0"
                      name="quantity"
                      value="{{cart.quantity}}"
                      type="number"
                      class="form-control"
                      placeholder="Quantity"
                      max="{{product.amount}}"
                    />
                  </div>
                  
                  <button
                  type="submit"
                    class="btn btn-outline-danger px-3 ms-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                
                </div>
              </form>
                <!-- Quantity -->

                <!-- Price -->
                <p class="text-start text-md-right">
                  
            <strong> {{cart.amount}} $</strong>
                </p>
                <!-- Price -->
              </div>
            </div>
            
           {% endfor %}
        {% else %}
            <div class="alert alert-warning">
            <p>
                Ürün Bulunmadı
            </p>
        </div>
        {% endif %}
            <!-- Single item -->

            <hr class="my-4" />

            <!-- Single item -->
            <!-- Single item -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0">Summary</h5>
          </div>
          
          
          <div class="card-body" style="background-color: #fb5849">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h5 class="mb-0">Kart Bilgileri</h5>
            </div>

            <p class="small mb-2">Kart Tipi</p>
            <a href="#!" type="submit" class="text-white"><i
                class="fab fa-cc-mastercard fa-2x me-2"></i></a>
            <a href="#!" type="submit" class="text-white"><i
                class="fab fa-cc-visa fa-2x me-2"></i></a>
            <a href="#!" type="submit" class="text-white"><i
                class="fab fa-cc-amex fa-2x me-2"></i></a>
            <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>

            <form class="mt-4">
              <div class="form-outline form-white mb-4">
                <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                  placeholder="Kart Sahibinin Adı"required />
                <label class="form-label" for="typeName">Kart Sahibinin Adı</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                  placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" required/>
                <label class="form-label" for="typeText">Kart Numarası</label>
              </div>

              <div class="row mb-4">
                <div class="col-md-6">
                  <div class="form-outline form-white">
                    <input type="text" id="typeExp" class="form-control form-control-lg"
                      placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" required/>
                    <label class="form-label" for="typeExp">Son Kullanım Tarihi</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-outline form-white">
                    <input type="password" id="typeText" class="form-control form-control-lg"
                      placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" required/>
                    <label class="form-label" for="typeText">Cvv</label>
                  </div>
                </div>
              </div>

            </form>

            <hr class="my-4">


            


            <div class="d-flex justify-content-between">
              <p class="mb-2">Ürün Toplam Fiyatı</p>
              <p class="mb-2">{% if total %}
                ${{total}} 
                 {% endif %}</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2">Shipping</p>
              <p class="mb-2">$0.00</p>
            </div>

            <div class="d-flex justify-content-between mb-4">
              <p class="mb-2">Toplam</p>
              <p class="mb-2">{% if total %}
                ${{total}} 
                 {% endif %}</p>
            </div>

            <button type="button" class="btn btn-info btn-block btn-lg" id="siparisonay">
              <div class="d-flex justify-content-between">
                <span>{% if total %}
                  ${{total}} 
                   {% endif %}</span>
                <span>Checkout <i class="fas fa-long-arrow-alt-right ms-2" onclick=""></i></span>
              </div>
            </button>

            <script>
	
 
              var btnSelam=document.getElementById("siparisonay");
                btnSelam.onclick=function(){
                  window.alert("Siparişiniz Alındı.");
                }
              </script>
          </div>
        </div>

      </div>
      
    </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
