{% extends 'layout/base.html' %} {% block content %} {% load static %}
<section class="section" id="reservation">
  <form action="{% url 'contactus' %}" method="POST">
    {% csrf_token %}
    <div class="container">
      {% if message %}
      <div class="alert alert-success" role="alert">{{message}}</div>
      {% endif %} {% if error %}
      <div class="alert alert-danger" role="alert">{{error}}</div>
      {% endif %}
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-text-content">
            <div class="section-heading">
              <h6>İletişime Geç</h6>
              <h2>
                Buradan İletişime Geçebilirsiniz.
              </h2>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="phone">
                  <i class="fa fa-phone"></i>
                  <h4>Phone Numbers</h4>
                  <span
                    ><a href="#">+90 553 877 07 45</a><br
                    ></span
                  >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="message">
                  <i class="fa fa-envelope"></i>
                  <h4>Emails</h4>
                  <span
                    ><a href="#">yigitgirgin@ogr.bandirma.edu.tr </a><br /><a href="#"
                      ></a
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-form">
            <form id="contact" action="{% url 'contactus'%}" method="POST">
              <div class="row">
                <div class="col-lg-12">
                  <h4 class="text-white">Table Reservation</h4>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <fieldset>
                    <input
                      name="name"
                      type="text"
                      id="name"
                      placeholder="İsim*"
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <fieldset>
                    <input
                      name="email"
                      type="text"
                      id="email"
                      pattern="[^ @]*@[^ @]*"
                      placeholder="Mail Adres*"
                      required=""
                    />
                  </fieldset>
                </div>
                <div class="col-lg-6 col-sm-12">
                  <fieldset>
                    <input
                      name="phoneNumber"
                      type="text"
                      id="phone"
                      placeholder="Telefon Numarası*"
                      required=""
                    />
                  </fieldset>
                </div>

                <div class="col-lg-6">
                  <div id="filterDate2">
                    <div class="input-group date" data-date-format="dd/mm/yyyy">
                      <input
                        name="date"
                        id="date"
                        type="text"
                        class="form-control"
                        placeholder="gg/aa/yyyy"
                      />
                      <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-12 mt-4">
                  <fieldset>
                    <textarea
                      name="description"
                      rows="6"
                      id="message"
                      placeholder="Mesaj"
                      required=""
                    ></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button
                      type="submit"
                      id="form-submit"
                      class="main-button-icon"
                    >
                      İletişime Geç
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
{% endblock content %}
