{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>E-Oyuncum</title>
    <script src="/project/static/js/sepet.js"></script>
  </head>

  <!-- Additional CSS Files -->
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/bootstrap.min.css' %}"
  />

  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/font-awesome.css' %}"
  />

  <link rel="stylesheet" href="{% static 'css/templatemo-klassy-cafe.css' %}" />

  <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}" />

  <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" />

  <body>
    {% include 'layout/header.html' %}
    <div>{% block content %} {% endblock content %}</div>
    {% include 'layout/footer.html' %}
  </body>
  <!-- jQuery -->
  <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

  <!-- Bootstrap -->
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'js/owl-carousel.js' %}"></script>
  <script src="{% static 'js/accordions.js' %}"></script>
  <script src="{% static 'js/datepicker.js' %}"></script>
  <script src="{% static 'js/scrollreveal.min.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'js/imgfix.min.js' %}"></script>
  <script src="{% static 'js/slick.js' %}"></script>
  <script src="{% static 'js/lightbox.js' %}"></script>
  <script src="{% static 'js/isotope.js' %}"></script>

  <!-- Global Init -->
  <script src="{% static 'js/custom.js' %}"></script>
  <script>
    $(function () {
      var selectedClass = "";
      $("p").click(function () {
        selectedClass = $(this).attr("data-rel");
        $("#portfolio").fadeTo(50, 0.1);
        $("#portfolio div")
          .not("." + selectedClass)
          .fadeOut();
        setTimeout(function () {
          $("." + selectedClass).fadeIn();
          $("#portfolio").fadeTo(50, 1);
        }, 500);
      });
    });
  </script>
</html>
