{% load static %}
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img
              src=" {% static 'images/klassy-logo.png' %}"
              align="klassy cafe html template"
            />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="{% url 'home' %}" class="active">Home</a>
            </li>
            <li class="scroll-to-section">
              <a href="{% url 'aboutus' %}">About</a>
            </li>

            <!-- 
                                <li class="submenu">
                                    <a href="javascript:;">Drop Down</a>
                                    <ul>
                                        <li><a href="#">Drop Down Page 1</a></li>
                                        <li><a href="#">Drop Down Page 2</a></li>
                                        <li><a href="#">Drop Down Page 3</a></li>
                                    </ul>
                                </li>
                            -->
            <li class="scroll-to-section">
              <a href="{% url 'menu' %}">Menu</a>
            </li>
            <li class="scroll-to-section">
              <a href="{% url 'chef' %}">Chefs</a>
            </li>
            <li class="scroll-to-section">
              <a href="{% url 'klassyweek' %}">Klassy Week</a>
            </li>
            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
            <li class="scroll-to-section">
              <a href="{% url 'contactus' %}">Contact Us</a>
            </li>
            {% if user.is_authenticated %}
            <a
              class="nav-link"
              href="{% url 'logoutaccount' %}"
              style="color: #ff0000"
              >Log Out
            </a>
            {% else %}
            <a class="nav-link" href="{% url 'loginaccount' %}">Login</a>
            <a class="nav-link" href="{% url 'signupaccount' %}">Sign Up</a>
            {% endif %} {% comment %}
            <li class="user_option">
              <a href="{% url 'signupaccount' %}" class="user_link"
                ><i class="fa-solid fa-user"></i
              ></a>
            </li>
            {% endcomment %}

            <li class="user_option">
              <a href="{% url 'basket' %}" class="user_link">
                {% for item in cart %}
                <tr>
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.product.price }}</td>
                </tr>
                {% endfor %}
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>

          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
